@inherits LayoutComponentBase

@using System.Security.Claims
@using TaskManager.UI.Services
@using TaskManager.UI.Services.Auth

@inject CustomAuthStateProvider AuthStateProvider

<div class="page">
    <main>
        <div class="top-row px-4">
            @(_currentUserName ?? string.Empty)
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private string? _currentUserName;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        _currentUserName = user.FindFirst(ClaimTypes.Name)?.Value;
    }

}