.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.card-info-header {
    display: flex;
    justify-content: space-between;
}

.back-button{
    display: inline-flex;
}

.delete-button {
    display: inline-flex;
}

.card-details {
    margin-left: 5vw;
}

.comments-wrapper {
    max-width: 1000px;
}

.comment-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}