<th @onclick="ToggleSort" style="cursor: pointer;">
    @Title
    <span class="sort-icon @(SortOrder is not null ? "visible" : "")">
        @(SortOrder == "asc" ? "↑" : "↓")
        @if (SortIndex.HasValue)
        {
        <span class="sort-badge">
                @(SortIndex.Value + 1)
            </span>
        }
    </span>
</th>

@code {
    [Parameter] public string Field { get; set; } = default!;
    [Parameter] public string Title { get; set; } = default!;
    [Parameter] public EventCallback<string> OnToggle { get; set; }
    [Parameter] public string? SortOrder { get; set; }
    [Parameter] public int? SortIndex { get; set; }

    private async Task ToggleSort()
    {
        if (OnToggle.HasDelegate)
        {
            await OnToggle.InvokeAsync(Field);
        }
    }
}